# Dependencies
node_modules/

# Build output
dist/

# electron-builder cache
.electron-builder-cache/

# Package files
*.tgz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local

# Electron
.electron/
